.post-details-table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 18px;
  background: white;
  border: 2px solid #c7d6f5;
}

.post-details-table tr {
  border-bottom: 1px solid #c7d6f5;
}

.post-details-table tr:nth-child(even) {
  background: #e4efff;
}

.post-details-table tr:nth-child(odd) {
  background: #fdfdfd;
}

.post-details-table td:first-child {
  width: 260px;
  font-weight: bold;
  background: #cddcf6;
  padding: 12px 18px;
  text-align: center;
  border-right: 1px solid #c7d6f5;
}

.post-details-table td {
  padding: 12px 18px;
  text-align: center;
}

.post-details-table td:nth-child(2),
.post-details-table td:nth-child(3) {
  border-right: 1px solid #c7d6f5;
}

.post-details-table tr td:last-child {
  border-right: none;
}
