.details-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #dae8f9ef;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table-wrapper {
  overflow-x: auto;
}

.user-details-table {
  width: 100%;
  border-collapse: collapse;
}

.user-details-table td {
  padding: 12px 15px;
  border: 1px solid #150868;
}

.user-details-table td:first-child {
  font-weight: bold;
  background-color: #c2d7ef;
  width: 160px;
  color: #555;
}

.user-details-table tr:nth-child(even) td {
  background-color: #fafafa;
}

.loading{
  text-align: center;
  color: #555;
  margin-top: 50px;
  font-size: 18px;
}
.loader-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.loader-text {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
}

@media (max-width: 600px) {
  .user-details-table td {
    padding: 10px 8px;
    font-size: 14px;
  }
  .user-details-table td:first-child {
    width: 120px;
  }
}
.nav-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.next-btn {
  background-color: #4e6ef2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.next-btn:hover {
  background-color: #364fd1;
}
